*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
body{
    background-color: black;
    color: white;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    font-family: 'poppins', sans-serif;
    position: absolute;
    top:0;
}

.img{
    width: 200px;
}

.menu a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 5px;
    padding: 10px 20px;
}
.menu a:hover{
    background-color: rgb(255, 0, 85);
    border-radius: 7px; 
    transition: 0.5s linear;   
}

.menu a:last-child{
    background-color: rgb(215, 115, 149);
    border-radius: 7px;
}
.menu a:last-child:hover{
    background-color: rgb(255, 0, 85);
    border-radius: 7px;
    transition: 0.5s linear;     
}

.line{
    position: absolute;
    top: 22%; 
    left: 15%;
}
.box1{
    background-color: rgb(225, 110, 110);
    width: 50px;
    height: 5px;
}
.box2{
    background-color: rgb(245, 0, 0);
    width: 100px;
    height: 2px;
}
.box3{
    background-color: rgb(225, 110, 110);
    width: 50px;
    height: 5px;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 190px;
}

.left{
    flex-basis: 40%;
}
.right{
    flex-basis: 90%;
}
.right img{
    width: 100%;
    -webkit-box-reflect:below 1px linear-gradient(transparent,transparent,#0004);
}

.left h1{
    font-size: 4.5rem; 
    line-height: 4.5rem;
}
.left button{
    background: #e06659;
    color: white;
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.left button:hover{
    background: #ff1900;
    transition: 0.5s linear;    
}
.social-icons{
    position: absolute;
    bottom: 10%;
    left: 5%;
    padding: 0px 100px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 25px;
    color: #ffffff;
    display: inline-block;
    transition: transform 0,5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

